*{
    margin: 0; 
    padding: 0; 
    border: 1px solid red
}
.display-flex3 {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    /* height: 100px; */
}
.restaurantBox {
    background-color: lightblue;
    height: 200px;
    width: 400px;
    
}
.display-block{
    display: inline-block;
    margin:20px;
}
.toTheLEft{
    text-align: start;
    margin-left: 120px;
}
.pic{
    height: 100px;
    width: 100px;
}